---
import BaseLayout from '@/layouts/BaseLayout.astro'
import { Button } from '@/components/ui/button'
import { Badge } from '@/components/ui/badge'
import { Icon } from 'astro-icon/components'
import {
	Card,
	CardContent,
	CardDescription,
	CardHeader,
	CardFooter,
	CardTitle
} from '@/components/ui/card'
import { Accordion } from '@/components/Accordion'

const accordionData = [
	{
		title: 'Is it accessible?',
		description: 'Yes. It adheres to the WAI-ARIA design pattern.'
	},
	{
		title: 'Is it styled?',
		description:
			"Yes. It comes with default styles that matches the other components' aesthetic."
	},
	{
		title: 'Is it animated?',
		description:
			"Yes. It's animated by default, but you can disable it if you prefer."
	}
]
---

<BaseLayout>
	<div class='container mx-auto p-6 max-w-7xl'>
		<!-- Header -->
		<Card className=''>
			<CardContent className='bg-gradient-to-b from-[#EBEBEB] to-[#F7F7F7]'>
				<img src='/product.png' class='mix-blend-multiply' />
			</CardContent>
			<CardHeader className='flex'>
				<div
					class='title-description justify-between w-full flex flex-col gap-2'
				>
					<div class='grid gap-1'>
						<CardTitle>Reveon Lakes Sofa</CardTitle>
						<CardDescription>$599.99</CardDescription>
					</div>
					<div class='flex gap-1'>
						{
							Array(5)
								.fill(null)
								.map((_, i) => (
									<Icon
										name='ph:star-fill'
										width='15'
										class='fill-amber-500 text-amber-500'
									/>
								))
						}
					</div>
					<div class='swatch-options flex gap-2'>
						<div class='swatch selected'></div>
						<div class='swatch'></div>
					</div>
				</div>
				<!-- <div class='badge-price'>
					<p class='text-xl'>$0.00</p>
				</div> -->
			</CardHeader>

			<Badge className='absolute top-4 left-4'>Badge</Badge>
			<!-- <CardFooter>
				<Button variant='outline'>Buy Now</Button>
			</CardFooter> -->
		</Card>
	</div>
	<div>
		<Accordion data={accordionData} client:idle />
	</div>
	<div class='back'>
		<Button variant='outline'>New Branch</Button>
	</div>
</BaseLayout>

<style>
	.back {
		display: grid;
		place-content: center;
		height: 10rem;
		background-image: url(/MainImage.png);
	}
	.swatch {
		background-color: antiquewhite;
		border-radius: 50%;
		height: 24px;
		width: 24px;
	}

	.selected {
		border: 2px solid black;
		border-spacing: 4px;
		height: 24px;
		width: 24px;
	}
</style>
