---
import BaseLayout from '../layouts/BaseLayout.astro'
import BannerTest from '../components/BannerTest.astro'
---

<BaseLayout>
	<div class='space'>
		<BannerTest eyebrow='Introducing' headline='Ashley Luxe' subtext='' />
		<BannerTest
			eyebrow='Ashley Luxe'
			headline='Hailee Steinfield for Ashley Luxe'
			actions='true'
			subtext=''
		/>
		<BannerTest
			eyebrow='Ashley Luxe'
			headline='Ashley Luxe Style Ambassadors'
			actions='true'
			subtext=''
		/>
		<BannerTest
			eyebrow='Ashley Luxe'
			headline='Ashley Luxe  Style Ambassadors'
			subtext='A meeting of the most stylish minds, brought to life in a new collection and custom dress.'
		/>
	</div>
</BaseLayout>

<style is:global>
	*,
	* > *,
	body {
		margin: 0;
		padding: 0;
		box-sizing: border-box;
	}

	.space {
		display: grid;
		gap: 4rem;
	}
</style>
