---
import BaseLayout from '../layouts/BaseLayout.astro'
---

<BaseLayout>
	<div class='boxes'>
		<div class='box green'></div>
		<div class='box orange'></div>
		<div class='box purple'></div>
	</div>
</BaseLayout>

<style>
	.boxes {
		margin-top: 1rem;
		display: flex;
		flex-direction: column;
		gap: 1rem;
		width: 100vw;
		margin-bottom: 100px;
	}

	.box {
		width: 50px;
		height: 50px;
	}

	.green {
		background-color: green;
	}
	.orange {
		background-color: orange;
	}

	.purple {
		background-color: blueviolet;
	}
</style>

<script>
	import { gsap } from 'gsap'
	import { GSDevTools } from 'gsap/GSDevTools'

	var tl = gsap.timeline()
	tl.to('.orange', { duration: 1, x: '100vw', xPercent: -100 }).to('.green', {
		duration: 2,
		x: '100vw',
		xPercent: -100,
		ease: 'bounce'
	})

	gsap.to('.purple', {
		duration: 1,
		x: '100vw',
		xPercent: -100,
		rotation: 360,
		delay: 3
	})

	GSDevTools.create()
</script>
